<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :propertyType %>
    <%= form.text_field :propertyType, id: :item_propertyType %>
  </div>

  <div class="field">
    <%= form.label :itemId %>
    <%= form.text_field :itemId, id: :item_itemId %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :item_url %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :item_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :item_content %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :item_type %>
  </div>

  <div class="field">
    <%= form.label :agency %>
    <%= form.text_field :agency, id: :item_agency %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :item_currency %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :item_price %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit, id: :item_unit %>
  </div>

  <div class="field">
    <%= form.label :floorArea %>
    <%= form.number_field :floorArea, id: :item_floorArea %>
  </div>

  <div class="field">
    <%= form.label :rooms %>
    <%= form.number_field :rooms, id: :item_rooms %>
  </div>

  <div class="field">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms, id: :item_bathrooms %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :item_city %>
  </div>

  <div class="field">
    <%= form.label :cityArea %>
    <%= form.text_field :cityArea, id: :item_cityArea %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region, id: :item_region %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :item_longitude %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :item_latitude %>
  </div>

  <div class="field">
    <%= form.label :mainPicture %>
    <%= form.text_field :mainPicture, id: :item_mainPicture %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :item_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :item_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
