<p id="notice"><%= notice %></p>

<p>
  <strong>Propertytype:</strong>
  <%= @item.property_type %>
</p>

<p>
  <strong>Itemid:</strong>
  <%= @item.item_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @item.type %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @item.agency %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @item.currency %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item.unit %>
</p>

<p>
  <strong>Floorarea:</strong>
  <%= @item.floor_area %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @item.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @item.bathrooms %>
</p>

<p>
  <strong>City:</strong>
  <%= @item.city %>
</p>

<p>
  <strong>Cityarea:</strong>
  <%= @item.city_area %>
</p>

<p>
  <strong>Region:</strong>
  <%= @item.region %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @item.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @item.latitude %>
</p>

<p>
  <strong>Mainpicture:</strong>
  <%= @item.main_picture %>
</p>

<p>
  <strong>Date:</strong>
  <%= @item.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @item.time %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
